{% extends "WORKER_TEMPLATE/WORKER_DASH.html" %}
{% load static %}
{%load crispy_forms_tags %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table">
  <thead>
    <tr>
        {% for i in data %}
      <th scope="row">{{i.worker}}</th>
      <td>{{i.date}}</td>
      <td>{{i.start_time}}</td>
      <td>{{i.end_time}}</td>
      <td scope="row">
            <a href="{% url 'update_schedule' i.id %}">
                <button type="button" class="btn btn-primary">Update</button>
            </a>
        </td>
        <td scope="row">
            <form action="{% url 'delete_schedule' i.id %}" method="POST" class="d-inline-block">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger" value="delete"/>
            </form>
        </td>
    </tr>

    {% endfor %}
  </tbody>
</table>
{% endblock %}
</body>
</html>