{% extends "Admin/Admin_dash.html" %}

{% block content %}
<div class="card">
  <div class="card-body">
  <h1>Payment History</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Customer</th>
        <th>Date</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      {% for payment in payment %}
        <tr>
         <td>{{ payment.customer }}</td>
          <td>{{ payment.pay_date }}</td>
          <td>{{ payment.amount_paid }}</td>
        </tr>
      {% endfor %}
    </tbody>
      <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td>Total:{{ total_amount }}</td>
      </tr>
    </tfoot>
  </table>
    </div>
</div>
{% endblock %}
