{% extends "Admin/Admin_dash.html" %}
{% load static %}
{%load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<div class="card">
  <div class="card-body">

  <h2>Approve Bill</h2>
  <p><strong>Appointment:</strong> {{ bill.appointment }}</p>
  <p><strong>Worker:</strong> {{ bill.worker }}</p>
  <p><strong>Customer:</strong> {{ bill.customer }}</p>
  <p><strong>Amount:</strong> {{ bill.amount }}</p>
  <p><strong>status:</strong>
    {% if bill.status == 0 %}
                 <button type="button" class="btn btn-warning">Pending</button>
            {% elif bill.status == 1 %}
                 <button type="button" class="btn btn-success">Confirmed</button>
            {% else %}
                  <button type="button" class="btn btn-danger">Rejected</button>
            {% endif %}
  </p>
    <form method="POST" >
    {% csrf_token %}
    {{ form|crispy }}
            <input type="hidden" name="appointment" value="{{ bill.appointment.id }}">
    <button type="submit" class="btn btn-success">Approve</button>
  </form>
      </div>
</div>
{% endblock %}

</body>
</html>