{% extends "Admin/Admin_dash.html" %}
{% load static %}
{%load crispy_forms_tags %}

{% block content %}

<div class="card">
  <div class="card-body">

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Date</th>
      <th scope="col">Starting time</th>
      <th scope="col">Ending time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        {% for i in a %}
      <th scope="row">{{i.worker}}</th>
      <td>{{i.date}}</td>
      <td>{{i.start_time}}</td>
      <td>{{i.end_time}}</td>
    </tr>

    {% endfor %}
  </tbody>
</table>
{% endblock %}
</div>
</div>
</html>