{% extends "USER_TEMPLATE/USER_DASH.html" %}
{% load static %}
{%load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}

<h2>Feedback</h2>
<br>
{%for i in feedback%}
{{i.date}} |<h3> By :{{i.user}} </h3>
<br>
<h3 style="color:red;">{{i.message}}</h3>
<br>
 <h3 style="color:green;"> Reply: {{i.reply}}</h3>

{% if feedback.reply %}
    <h2>Reply</h2>
    <p>{{ feedback.reply }}</p>
  {% else %}
  {% endif %}
<hr>
<br>
{%endfor%}
{% endblock %}
</body>
</html>